* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* titolo */

h1 {
    text-align: center;
    color: brown;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;

}
/* contenuto main */
.container {
    max-width: 1000px;
    margin: 0 auto;

}
img{
    height: 100;
    width: 150;
}
.address{
    color: white;
    font-size: 10px;
}
h2{
    font-size: 20px;
}

.colonna {
    border-radius: 20px;
    margin-bottom: 50px;
    float: left;
    margin-left: 0px;
    background-color: black;
    color: white;

}
.container-card.clearfix::after { 
    content: "";  
    display: table; 
    clear: both;
}



