*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: brown;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;

}
.container{
    max-width: 900px;
    margin: auto;
}
.img{
    height: 200px;
    width: 200px;
}
.colonna{
    float: left;
}